
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>

<ul>
    @foreach (var category in Model)
    {
        <li>@category.CategoryName</li>
    }
</ul>
